.head{
    background-color: #00A9E4;
    width: 350px;
    position: absolute;
    z-index: 1;

}
.h1{
    color: blue;
}
.p1{
color: yellow;

}
.good{
color: blue;
}
#p2{
color: red;
background-color: goldenrod;
}
#div{
background-color: gray;
width: 500px;
height: 1000px;
position: fixed;
z-index: 0;
}